[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/k3s server \
    --kube-apiserver-arg=anonymous-auth=false \
    --kube-apiserver-arg=service-account-lookup=true \
    --kube-controller-manager-arg=use-service-account-credentials=true \
    --kubelet-arg=anonymous-auth=false \
    --kube-apiserver-arg=audit-log-maxage=30 \
    --kube-apiserver-arg=audit-log-maxbackup=30 \
    --kube-apiserver-arg=audit-log-maxsize=30 \
    --kube-apiserver-arg=audit-log-path=/var/log/rancher/audit/audit.log \
    --kube-apiserver-arg=tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
    --kube-apiserver-arg=tls-min-version=VersionTLS12 \
    --kube-controller-manager-arg=tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
    --kube-controller-manager-arg=tls-min-version=VersionTLS12 \
    --kubelet-arg=tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
    --kubelet-arg=tls-min-version=VersionTLS12 \
    --node-taint CriticalAddonsOnly=true:NoExecute \
    --protect-kernel-defaults=true \
    {{ extra_server_args | default("") }}
Delegate=yes
KillMode=process
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=infinity
Restart=on-failure
RestartSec=5s
TasksMax=infinity
TimeoutStartSec=0

# Sandboxing features
LockPersonality=yes
PrivateTmp=yes
ProtectHome=yes
#ProtectHostname=yes
#ProtectKernelLogs=yes
#ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/etc/rancher /var/log /var/lib /var/run /run 

[Install]
WantedBy=multi-user.target
